<UserScriptConfig>
	<Script author="Michael Hampton" basedir="Accept_Rate" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Display a user's Stack Exchange question accept rate" enabled="true" filename="acceptrate.user.js" installTime="1419029862312" modified="1419267701630" name="Accept Rate" namespace="k0tFZXXD" noframes="false" runAt="document-end" updateMetaStatus="ok" uuid="60eda10b-78e7-43e6-bed8-1e76431a9c45" version="0.4" installurl="https://gist.github.com/anonymous/5997591/raw/4a61db173ca7536b84ba139f3c86ed9ae2d44797/acceptrate.user.js" updateurl="https://gist.github.com/anonymous/5997591/raw/4a61db173ca7536b84ba139f3c86ed9ae2d44797/acceptrate.user.js">
		<Exclude>http://chat./</Exclude>
		<Grant>none</Grant>
		<Include>http://stackoverflow.com/*</Include>
		<Include>http://serverfault.com/*</Include>
		<Include>http://superuser.com/*</Include>
		<Include>http://meta.stackoverflow.com/*</Include>
		<Include>http://meta.serverfault.com/*</Include>
		<Include>http://meta.superuser.com/*</Include>
		<Include>http://stackapps.com/*</Include>
		<Include>http://.stackexchange.com/</Include>
		<Include>http://askubuntu.com/*</Include>
		<Include>http://meta.askubuntu.com/*</Include>
		<Include>http://answers.onstartups.com/*</Include>
		<Include>http://meta.answers.onstartups.com/*</Include>
		<Include>http://mathoverflow.net/*</Include>
		<Include>http://meta.mathoverflow.net/*</Include>
		<Include>http://discuss.area51.stackexchange.com/*</Include>
	</Script>
	<Script basedir="ChessboardsPrinting" checkRemoteUpdates="1" dependhash="41e6ce06ec5bac4dc4bd5605b18e765141c4149d" description="Adds a PRINT CHESSBOARDS button to Chess.com for chessboards printing" enabled="true" filename="ChessboardsPrinting.user.js" installTime="1419029883391" modified="1419029883391" name="ChessboardsPrinting" namespace="http://www.chess.com" noframes="false" runAt="document-end" updateMetaStatus="ok" uuid="984a4f47-1774-4bf4-88ad-7808b2b79ab7" version="1" installurl="https://gist.github.com/amit-g/a3f5a1ad3a8e968d116a/raw/1f2cfef043582e045924e3d9bb556b121ea5b335/ChessboardsPrinting.user.js" updateurl="https://gist.github.com/amit-g/a3f5a1ad3a8e968d116a/raw/1f2cfef043582e045924e3d9bb556b121ea5b335/ChessboardsPrinting.user.js">
		<Grant>none</Grant>
		<Include>http://www.chess.com/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="EnchantedLearningPuzzles" checkRemoteUpdates="1" dependhash="41e6ce06ec5bac4dc4bd5605b18e765141c4149d" description="" enabled="true" filename="EnchantedLearningPuzzles.user.js" installTime="1419029893611" modified="1419029893611" name="EnchantedLearningPuzzles" namespace="http://www.enchantedlearning.com" noframes="false" runAt="document-end" updateMetaStatus="ok" uuid="a5ade780-cdcb-49bf-97c9-dd84dd0eccd4" version="1" installurl="https://gist.github.com/amit-g/a86edfb5c004d1f3b2b8/raw/00ef0f37d81338f54e1a8fb2454016168aaafbce/EnchantedLearningPuzzles.user.js" updateurl="https://gist.github.com/amit-g/a86edfb5c004d1f3b2b8/raw/00ef0f37d81338f54e1a8fb2454016168aaafbce/EnchantedLearningPuzzles.user.js">
		<Grant>none</Grant>
		<Include>http://www.enchantedlearning.com/*/*/puzzles/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="GithubRun" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Adds a Live Run button to Github.com source files" enabled="true" filename="GithubRun.user.js" installTime="1419029903013" modified="1419029903013" name="GithubRun" namespace="http://www.github.com" noframes="false" runAt="document-end" updateMetaStatus="ok" uuid="551a6c61-2067-457b-8c90-6121fc2d336c" version="1" installurl="https://gist.github.com/amit-g/a38fb4763318c9bf6cc1/raw/adedf6ee6a0e59653a1077b7dec3e70b5f670c88/GithubRun.user.js" updateurl="https://gist.github.com/amit-g/a38fb4763318c9bf6cc1/raw/adedf6ee6a0e59653a1077b7dec3e70b5f670c88/GithubRun.user.js">
		<Grant>none</Grant>
		<Include>https://github.com/*/*</Include>
	</Script>
	<Script basedir="TOIReadability" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Opens the content pages with readability" enabled="true" filename="TOIReadability.user.js" installTime="1419029913063" modified="1419029913063" name="TOIReadability" namespace="http://timesofindia.indiatimes.com/" noframes="false" runAt="document-end" updateMetaStatus="ok" uuid="c8a6ae65-c97f-4d81-88a4-9dc52949765d" version="1" installurl="https://gist.github.com/amit-g/afc65366effaa3717666/raw/322eba8313dd8b9ba4b0c510b96f83af1178b35e/TOIReadability.user.js" updateurl="https://gist.github.com/amit-g/afc65366effaa3717666/raw/322eba8313dd8b9ba4b0c510b96f83af1178b35e/TOIReadability.user.js">
		<Grant>none</Grant>
		<Include>/^https?://timesofindia.indiatimes.com/.*/articleshow/[0-9]+\.cms$/</Include>
	</Script>
	<Script basedir="Mailcity" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Mailcity.user.js" installTime="1419029927585" modified="1419029927585" name="Mailcity" namespace="https://webmail.lycos.com/?_task=mail" noframes="false" runAt="document-end" updateMetaStatus="ok" uuid="78f5ce0c-148e-4a59-8634-18bf80f66147" version="1" installurl="https://gist.github.com/amit-g/32b8e18cfad72ec57a02/raw/c020f0366936422bc84fdbbab7ea9d3ce82dc777/Mailcity.user.js" updateurl="https://gist.github.com/amit-g/32b8e18cfad72ec57a02/raw/c020f0366936422bc84fdbbab7ea9d3ce82dc777/Mailcity.user.js">
		<Grant>none</Grant>
		<Include>/^https?://webmail.lycos.com/\?_task=mail$/</Include>
	</Script>
	<Script basedir="Jira" checkRemoteUpdates="1" dependhash="1823a10af53a280770ac3223336f09af1275c216" description="Changes the changeset to a link" enabled="true" filename="Jira.user.js" installTime="1457132280615" modified="1457134435672" name="Jira" namespace="https://ipayment.atlassian.net/browse/" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="33651d53-67ee-4ecc-973a-e74276b9b5a7" version="1" installurl="file:///C:/Users/agupta/AppData/Roaming/Mozilla/Firefox/Profiles/7jmiq4ik.default-1419028617357/gm_scripts/Jira/Jira.user.js" updateurl="file:///C:/Users/agupta/AppData/Roaming/Mozilla/Firefox/Profiles/7jmiq4ik.default-1419028617357/gm_scripts/Jira/Jira.user.js">
		<Grant>none</Grant>
		<Include>/^https://ipayment.atlassian.net/browse/[A-Z]+-[0-9]+$/</Include>
		<Require filename="jquery.min.js"/>
	</Script>
</UserScriptConfig>